POSTGRES_DB=cleantrack
POSTGRES_USER=cleantrack
POSTGRES_PASSWORD=change-this-postgres-password
JWT_KEY=change-this-to-a-long-random-secret-at-least-32-characters
ADMIN_EMAIL=admin@petrik.hu
ADMIN_PASSWORD=ChangeMe123!
ADMIN_FULL_NAME=CleanTrack Admin
